<ul data-role="listview" data-divider-theme="a" data-inset="false" data-filter="true">
  <%= render :partial => "bookmark" %>
  <% @files[:file_names].each do |i| %>
    <li data-theme="c">
      <a href="/<%= "html/file_system/ls" + @files[:pwd] + i %>" data-transition="none"><%= i %></a>
    </li>
  <% end %>
  <%= render :partial => "movie" %>
</ul>
