<div data-role="content">
  <a data-role="button" data-transition="fade" href="#" onClick="$.get('/json/movie_player/play')">
      Play
  </a>
  <a data-role="button" data-transition="fade" href="#" onClick="$.get('/json/movie_player/kill')">
      Kill
  </a>
  <a data-role="button" data-rel="back" data-transition="fade" href="#page1" data-icon="arrow-l" data-iconpos="left">
      Back
  </a>
</div>
