<div class="ui-grid-d">
  <div class="ui-block-a">
    <a data-role="button" href="#" onClick="$.get('/json/mouse_input/incremental_move?x=-100&y=-100');" data-transition="pop">.</a>
  </div>
  <div class="ui-block-b">

  </div>
  <div class="ui-block-c">
    <a data-role="button" href="#" onClick="$.get('/json/mouse_input/incremental_move?x=0&y=-100');" data-transition="pop">.</a>
  </div>
  <div class="ui-block-d">
  </div>
  <div class="ui-block-e">
    <a data-role="button" href="#" onClick="$.get('/json/mouse_input/incremental_move?x=100&y=-100');" data-transition="pop">.</a>
  </div>
  <div class="ui-block-a">
  </div>
  <div class="ui-block-b">
    <a data-role="button" href="#" onClick="$.get('/json/mouse_input/incremental_move?x=-33&y=-33');" data-transition="pop">.</a>
  </div>
  <div class="ui-block-c">
    <a data-role="button" href="#" onClick="$.get('/json/mouse_input/incremental_move?x=0&y=-33');" data-transition="pop">.</a>
  </div>
  <div class="ui-block-d">
    <a data-role="button" href="#" onClick="$.get('/json/mouse_input/incremental_move?x=33&y=-33');" data-transition="pop">.</a>
  </div>
  <div class="ui-block-e">
  </div>
  <div class="ui-block-a">
      <a data-role="button" href="#" onClick="$.get('/json/mouse_input/incremental_move?x=-100&y=0');" data-transition="pop">.</a>
  </div>
  <div class="ui-block-b">
      <a data-role="button" href="#" onClick="$.get('/json/mouse_input/incremental_move?x=-33&y=0');" data-transition="pop">.</a>
  </div>
  <div class="ui-block-c">
      <a data-role="button" href="#" onClick="$.get('/json/mouse_input/incremental_move?x=0&y=0');" data-transition="pop">.</a>
  </div>
  <div class="ui-block-d">
      <a data-role="button" href="#" onClick="$.get('/json/mouse_input/incremental_move?x=33&y=0');" data-transition="pop">.</a>
  </div>
  <div class="ui-block-e">
      <a data-role="button" href="#" onClick="$.get('/json/mouse_input/incremental_move?x=100&y=0');" data-transition="pop">.</a>
  </div>
  <div class="ui-block-a">
  </div>
  <div class="ui-block-b">
      <a data-role="button" href="#" onClick="$.get('/json/mouse_input/incremental_move?x=-33&y=33');" data-transition="pop">.</a>
  </div>
  <div class="ui-block-c">
      <a data-role="button" href="#" onClick="$.get('/json/mouse_input/incremental_move?x=0&y=33');" data-transition="pop">.</a>
  </div>
  <div class="ui-block-d">
      <a data-role="button" href="#" onClick="$.get('/json/mouse_input/incremental_move?x=33&y=33');" data-transition="pop">.</a>
  </div>
  <div class="ui-block-e">
  </div>
  <div class="ui-block-a">
      <a data-role="button" href="#" onClick="$.get('/json/mouse_input/incremental_move?x=-100&y=100');" data-transition="pop">.</a>
  </div>
  <div class="ui-block-b">
  </div>
  <div class="ui-block-c">
      <a data-role="button" href="#" onClick="$.get('/json/mouse_input/incremental_move?x=0&y=100');" data-transition="pop">.</a>
  </div>
  <div class="ui-block-d">
  </div>
  <div class="ui-block-e">
      <a data-role="button" href="#" onClick="$.get('/json/mouse_input/incremental_move?x=100&y=100');" data-transition="pop">.</a>
  </div>
  <div class="ui-block-a"><a data-role="button" href="#" onClick="$.get('/json/mouse_input/click?button=1');" data-transition="pop">click</a>
  </div>
  <div class="ui-block-b"><a data-role="button" href="#" onClick="$.get('/json/mouse_input/double_click?button=1');" data-transition="pop">double</a>
  </div>
  <div class="ui-block-c"><a data-role="button" href="#" onClick="$.get('/json/mouse_input/click?button=2');" data-transition="pop">middle</a>
  </div>
  <div class="ui-block-d"><a data-role="button" href="#" onClick="$.get('/json/mouse_input/click?button=3');" data-transition="pop">right</a>
  </div>
  <div class="ui-block-e">
  </div>
</div>
