<div class="ui-grid-b">
  <div class="ui-block-a">
    <center><%= link_to(image_tag('stats.png'), '/stats', "data-transition" => "none") %></center>
  </div>
  <div class="ui-block-b">
    <center><%= link_to(image_tag('earth.png'), '/qr', "data-transition" => "none") %></center>
  </div>
  <div class="ui-block-c">
    <center><%= link_to(image_tag('power.png'), '/html/power_manager', "data-transition" => "none") %></center>
  </div>
  <div class="ui-block-a">
    <center></center>
  </div>
  <div class="ui-block-b">
    <center></center>
  </div>
  <div class="ui-block-c">
    <center></center>
  </div>
  <div class="ui-block-a">
    <center></center>
  </div>
  <div class="ui-block-b">
    <center></center>
  </div>
  <div class="ui-block-c">
    <center></center>
  </div>
</div>
