<%= session[:pwd] %>

<div class="ui-grid-b">
  <div class="ui-block-a">
  </div>
  <div class="ui-block-b">
  </div>
  <div class="ui-block-c">
  </div>
  <div class="ui-block-a">
  </div>
  <div class="ui-block-b">
  </div>
  <div class="ui-block-c">
  </div>
  <div class="ui-block-a">
  </div>
  <div class="ui-block-b">
  </div>
  <div class="ui-block-c">
    <%= link_to(image_tag('power.png'), '/html/power_manager', "data-transition" => "none") %>
  </div>
</div>
