<a data-role="button" href="#" onClick="$.get('/json/power_manager/shutdown')" data-transition="none">shutdown</a>
<a data-role="button" href="#" onClick="$.get('/json/power_manager/reboot')" data-transition="none">reboot</a>
