<div data-role="fieldcontain">
  <label for="selectmenu2"></label>
  <select data-native-menu="false" name="selectmenu2" id="selectmenu2">
    <% for win in @windows %>
      <option value="<%= win[:id] %>">
          <%= win[:name] %>
      </option>
    <% end %>
  </select>
  <a id="moveToTv" data-role="button" href="#" data-transition="none">move to tv</a>
  <a id="fullscreen" data-role="button" href="#" data-transition="none">fullscreen</a>
  <a id="focus" data-role="button" href="#" data-transition="none">focus</a>
  <a id="close" data-role="button" href="#" data-transition="none">close</a>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $("#moveToTv").click(function() {
    takeAction('move_right');
  });

  $("#fullscreen").click(function() {
    takeAction('fullscreen');
  });

  $("#focus").click(function() {
    takeAction('focus');
  });

  $("#close").click(function() {
    takeAction('close');
  });
});

takeAction = function(actionName) {
  windowId = $('#selectmenu2 :selected').val();
  $.get('/json/window_manager/' + actionName + '?window_id=' + windowId);
}
</script>
