<h3>Stats</h3>
<center>
  <p>path: <strong><%= @path %></strong></p>
</center>
<center>
  <p>ip: <strong><%= @ip %></strong></p>
</center>
<center>
  <p>link: <strong><%= @market_link %></strong></p>
</center>
